.StepFormDialog__content {
  mask-image: linear-gradient(to bottom, transparent 0%, black 7%, black 93%, transparent 100%);
  transition: mask-image 0.3s ease-in-out;
}

.StepFormDialog__content--at-top {
  mask-image: linear-gradient(to bottom, black 0%, black 93%, transparent 100%);
  transition: mask-image 0.3s ease-in-out;
}

.StepFormDialog__content--at-bottom {
  mask-image: linear-gradient(to bottom, transparent 0%, black 7%, black 100%);
  transition: mask-image 0.3s ease-in-out;
}

.logo-shadow {
    filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="naturalShadow" x="0" y="0" width="2" height="2">\
          <feOffset in="SourceGraphic" dx="8" dy="8" />\
          <feGaussianBlur stdDeviation="6" result="blur" />\
          <feBlend in="SourceGraphic" in2="blur" mode="normal" />\
        </filter>\
      </svg>#naturalShadow'
    );
  }